.introduction {
  align-items: center;
  background-color: var(--light-color);
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 3%;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-width);
    width: 100%;
  }

  &__ico {
    max-width: 6rem;
    padding-bottom: 2rem;
  }

  &__title {
    @include title;
    text-align: center;
  }

  &__subtitle {
    @include subtitle;
  }

  &__paragraph {
    @include paragraph;
    max-height: 20rem;
    overflow: hidden;
    transition: max-height .5s;

    &::after {
      background-color: var(--light-color);
      bottom: 0;
      box-shadow: 0 0 3rem 3rem var(--light-color);
      content: '';
      display: block;
      height: 2.5rem;
      left: 0;
      position: absolute;
      right: 0;
      top: auto;
      width: 100%;
    }

    &--slide {
      max-height: inherit;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    @include links;
  }
}
