@font-face {
  font-family: 'relaway-light';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('./fonts/raleway-light.woff2') format('woff2'),
       url('./fonts/raleway-light.woff') format('woff'),
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
